{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    {# <link href="https://fonts.googleapis.com/css?family=Raleway:900|Montserrat:300" rel="stylesheet"> #}

    {% block stylesheets %}
        {% do assets.addCss('theme://css/sm.css', {
            'media':'screen and (max-width: 4000px)'
        }) %}
        {% do assets.addCss('theme://css/md.css', {
            'media': 'screen and (min-width: 576px)'
        }) %}
        {% do assets.addCss('theme://css/lg.css', {
            'media': 'screen and (min-width: 1024px)'
        }) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.AddJs('theme://js/navigation.js') %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{# {% block header %}
    <header class="header">
        <div class="wrapper padding">
            <a class="logo left" href="{{ base_url == '' ? '/' : base_url }}">
                <i class="fa fa-rebel"></i>
                {{ config.site.title }}
            </a>
            {% block header_navigation %}
            <nav class="main-nav">
                {% include 'partials/navigation.html.twig' %}
            </nav>
            {% endblock %}
        </div>
    </header>
{% endblock %} #}

{% block header %}
    <header class="menu__header">
        <h2 class="menu__title">
            <a href="{{ base_url == '' ? '/' : base_url }}">
                {{ config.site.title }}
            </a>
        </h2>
        {% block header_navigation %}
        <nav class="menu__navbar">
            {% include 'partials/navigation2.html.twig' %}
        </nav>
        {% endblock %}
    </header>
{% endblock %}

{# {% block body %}
    <section id="body">
        <div class="wrapper padding">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %} #}

{% block body %}
    <main class="main">
        {% block content %} {% endblock %}
    </main>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <ul class="footer__links">
            {% for page in pages.children.visible %}
                {% set current_page = (page.active or page.activeChild) ? 'menu__item--active' : '' %}
                <li class="menu__item {{ current_page }}">
                    <a href="{{ page.url }}">
                        {{ page.menu }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <h4 class="footer__designed-by">Designed by me</h4>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
